<p style="font-size:medium">
  <strong><%= t('.header_html', title: @test_passage.test.title) %></strong>&nbsp;
</p>

<p>
  <% if @test_passage.pass? %>
    <span class = "passed">
      <%= @test_passage.result_percentage %> %
    </span>
    <strong><%=t('.passed') %></strong>
  <% else %>
    <span class = "failed">
       <%= @test_passage.result_percentage %> %
    </span>
    <strong><%=t('.failed') %></strong>
  <% end %>
</p>

<p><%= link_to t('.home_link'), @test_passage.user.admin? ? admin_root_path : root_path %></p>
