<p style="font-size:medium">
  <strong>Passing the * <%= @test_passage.test.title %> * Test:</strong>&nbsp;
</p>

<% if @test_passage.current_question %>
<p><i>
  <%=
		t('.question_num', q_num: @test_passage.current_question_number,
											 total: @test_passage.test.questions.count)
	%>
</i></p>

<p><%= @test_passage.current_question.body %></p>

<p>
  <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <%= form.collection_check_boxes \
        :answer_ids,
        @test_passage.current_question.answers, :id, :body, include_hidden: false  do |b| %>
          <p>
            <%= b.check_box id: "answer_ids_#{b.object.id}" %>
            <%= b.label %>
          </p>
      <% end %>

    <p><%= form.submit "Next" %></p>
  <% end %>
</p><br>
<% end %>

<p><%= link_to t('.gist_link'), gist_test_passage_path(@test_passage), method: :post %></p>
<p><%= link_to t('.home_link'), @test_passage.user.admin? ? admin_root_path : root_path %></p>
