<nav class="navbar navbar-light bg-light">

		<% if user_signed_in? %>
			<%= link_to '* Test Guru *', admin_root_path, class: 'navbar-brand' %>
				<span class = "navbar-text">
					<span class = "greet admin">
							<%= t('.greet') %> <%=current_user.identity_name %>
							<%=	current_user.identity_sname %>!&nbsp;
					</span>
					<%= link_to t('.show_gist_link'), admin_gists_path, \
																			 class: 'btn btn-outline-warning' %>
					<%= link_to t('.edit_link'), edit_user_registration_path, \
																			 class: 'btn btn-outline-secondary' %>
					<%= link_to t('.logout_link'), destroy_user_session_path, \
																	   method: 'delete', class: 'btn btn-outline-danger' %>
		<% else %>
					<%= link_to '* Test Guru *', root_path, class: 'navbar-brand' %>
					<%= link_to t('.login_link'), new_session_path(resource_name), \
																		class: 'btn btn-outline-info' %>
					<%= link_to t('.signup_link'), new_registration_path(resource_name), \
																		class: 'btn btn-outline-warning' %>
				</span>
    <% end %>

</nav>
