<tr>
    <td align = "center"><%= answer.id %></td>
  <td><%= answer.body %></td>
  <td><%= link_to 'Show', answer_path(answer) %></td>
  <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
  <td>
      <%= link_to 'Delete',
                  answer_path(answer),
                  method: :delete,
                  data: { confirm: 'Are You Sure?' } %>
  </td>
</tr>
