<p style="font-size:large">
  <strong><%= t('.header') %></strong>&nbsp;
  <%= @answer.body %>
</p>

<p style="font-size:medium">
  <strong><%= t('.header_bnd') %></strong>&nbsp;
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.correct') %></b>
  <%= @answer.correct %>
</p>

<p><%= link_to t('.edit_link'), edit_admin_answer_path(@answer) %></p>

<p><%= link_to t('.return_link'), admin_question_path(@answer.question) %></p>

<p><%= link_to t('.home_link'), admin_tests_path %></p>
