<tr>
  <td align = "center"><%= question.id %></td>
  <td><%= question.body %></td>
  <td><%= link_to t('.show'), admin_question_path(question), \
																			class: 'badge badge-info' %></td>
  <td><%= link_to t('.edit'), edit_admin_question_path(question), \
															class: 'badge badge-success' %></td>
  <td>
    <%= link_to t('.delete'),
                admin_question_path(question), \
                method: :delete, \
                data: { confirm: t('.are_you_sure') }, \
								class: 'badge badge-danger' %>
  </td>
</tr>
