<p style="font-size:medium">
  <strong><%= t('.header') %></strong>&nbsp;
  <%= @question.body %>
</p>

<%= render 'shared/answers_table' %>

<p><%= link_to t('.new_link'), new_admin_question_answer_path(@question) %></p><br>

<p><%= link_to t('.edit_link'), edit_admin_question_path(@question) %></p>

<p><%= link_to t('.return_link'), admin_test_path(:id => @question.test_id) %></p>

<p><%= link_to t('.home_link'), admin_tests_path %></p>
