<%= form_with(model: model, local: true) do |form| %>
  <h5 style="color:blue; padding: 0 0 0 50px">
    <mark><%= test_header(@test) %></mark>
  </h5>

	<%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p><br>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all,
                                :id, :title,
                                { prompt: t('.category') },
                                { class: "form-select" } %>
  </p><br>

  <p>
    <%= form.label :level %>
    <%= form.number_field :level, max: 5 %>
  </p>

  <div align = "center" >
    <h6 align = "center" class = "timing"><%= test_timing(@test) %></h6><br>

    <%= form.label :minutes %>
    <%= form.number_field :minutes, min: 0, max: 60 %>&nbsp

    <%= form.label :seconds %>
    <%= form.number_field :seconds, min: 0, max: 59 %>
  </div><br>


  <p><%= form.submit %></p><br>
<% end %>
