<tr align = "center">
  <td><%= test.id %></td>
  <td align = "left"><%= test.title %></td>
  <td><%=  test.level %></td>
  <td><%=  test.questions.count %></td>
  <td><%= link_to t('.show'), admin_test_path(test) %></td>
  <td><%= link_to t('.edit'), edit_admin_test_path(test) %></td>
  <td>
      <%= link_to t('.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: t('.are_you_sure') } %>
  </td>
  <td><%= button_to t('.start'), start_test_path(test) %></td>
</tr>
