<div class="container">

	<h5><%= t('.header') %></h5>

	<table class="table table-condensed table-striped">
    <tr>
      <th class = "col-md-3"><%= t('.id') %></th>
      <th class = "col-md-3"><%= t('.title') %></th>
      <th class = "col-md-3"><%= t('.level') %></th>
      <th class = "col-md-3"><%= t('.questions_num') %></th>
      <th colspan = "4", class = "col-md-4" ><%= t('.actions_avail') %></th>
    </tr>
    <%= render @tests %>
	</table>

	<p><%= link_to t('.new_test_link'), new_admin_test_path(@test) %></p>
</div>
