<p style="font-size:medium">
  <strong>Test title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Test level:</strong>
  <%= @test.level %>
</p>

<%= render 'shared/questions_table' %>

<p><%= link_to t('.new_link'), new_admin_test_question_path(@test, @question) %></p>

<p><%= link_to t('.home_link'), admin_tests_path %></p>
