<tr align = "center">
  <td><%= test.id %></td>
  <td align = "left"><%= test.title %></td>
  <td><%=  test.level %></td>
  <td><%=  test.questions.count %></td>
  <td><%= button_to t('.start'), start_test_path(test), class: 'btn btn-primary' %></td>
</tr>
