<p>
  <strong>Test title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Test level:</strong>
  <%= @test.level %>
</p>

<%= render 'shared/ques_table' %>

<p><%= link_to 'New Question', new_test_question_path(@test, @question) %></p>

<p><%= link_to 'Home', root_path %></p>
