<!DOCTYPE html>
<html>
  <head>
    <title>* TestGuru #Admin *</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <h3>

        <p class = "greet admin">
          <span class = "greet admin title">Administrator</span>
          Welcome, <%= current_user.identity_name %>
                   <%= current_user.identity_sname %>! On&nbsp;
          <%= link_to '* Test Guru *', admin_root_path %>
          <i><%= link_to 'Log Out', destroy_user_session_path, method: 'delete' %></i>
        </p>
      </h3>
    <% end %>

    <%= flash_message %>

    <%#= first_hello %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
